﻿<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
            <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
