@using pf1e_vtt.Client.Shared

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PF1E VTT</title>
    <link href="css/app.min.css" rel="stylesheet" />
    <link href="css/MainLayout.css" rel="stylesheet" />
    <link href="pf1e-vtt.Client.styles.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="page">

        <div class="sidebar">
            <component type="typeof(NavMenu)" render-mode="WebAssemblyPrerendered" />
        </div>

        <div class="main p-4">
            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}