@page "/characters"
@using pf1e_vtt.Shared.Models

<h1>My characters</h1>
@foreach (var character in characters)
{
    <CharacterRecap Character="@character" />
}

@code {
    private List<Character> characters = new() {
        new Character() { Name = "Ashe Raddo"},
        new Character() { Name = "Prosor"},
        new Character() { Name = "Corodyl"},
        new Character() { Name = "Ezokhiel"},
    };
}