@page "/character-sheet"
@using pf1e_vtt.Client.Shared

<h1>Character Sheet</h1>
<div style="display: flex">
    <div style="flex: 1">
        <CharacterSheet/>
    </div>
    <div style="flex: 1; height: 100vh; overflow-y: auto">
        <Feats />
    </div>
</div>