@page
@using pf1e_vtt.Client

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0, 
                 maximum-scale=1.0, user-scalable=no" />
    <title>PF1E VTT</title>
    <base href="/" />
    <link href="css/app.min.css" rel="stylesheet" />
    <link href="pf1e-vtt.Client.styles.css" rel="stylesheet" />
</head>

<body>

<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />

<script src="_framework/blazor.webassembly.js"></script>
</body>

</html>