@page "/feats"
@model pf1e_vtt.Server.Pages.FeatModel

<h1>Feats</h1>

@foreach (var feat in Model.Feats)
{
    <div class="card feat">
        <div class="card-body">
            <h2 class="card-title">@feat.Name</h2>
            <p class="card-text"><strong>Description </strong>@feat.Description</p>
            @if (feat.Advantage != null) 
            {
                <p><strong>Avantage </strong>@Html.Raw(@feat.Advantage)</p> 
            }
            @if (feat.Normal != null)
            {
                <p><strong>Normal </strong>@feat.Normal</p>
            }
        </div>
    </div>
    }

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}

@section Style {
    <style>
        .card {
            margin: 1em;
        }
    </style>
}