@using pf1e_vtt.Client.Services;
@using pf1e_vtt.Shared.Models;
@inject CharacterSheetDragService<Feat> characterSheetDragService;

<div style="height: 400px" @ondrop="OnDrop" ondragover="event.preventDefault();">
    Information about the character test 2
    @if (feats != null) {
    @foreach (var feat in feats)
    {
        <div class="rounded bg-gray-100 shadow m-3 p-4 ">
            <div class="card-body">
                <h2 class="text-xl font-bold text-yellow-700">@feat.Name</h2>
                <p class="card-text"><span class="font-bold">Description </span><span class="text-gray-700">@feat.Description</span></p>
                @if (feat.Advantage != null) 
                {
                    <p><span class="font-bold">Avantage </span><span class="text-gray-700">@feat.Advantage</span></p> 
                }
                @if (feat.Normal != null)
                {
                    <p><span class="font-bold">Normal </span><span class="text-gray-700">@feat.Normal</span></p>
                }
            </div>
        </div>
    }
} else {
    <div class="text-center">
            Loading...
    </div>
}
</div>

@code {
    private List<Feat> feats = new();

    public void OnDrop(DragEventArgs dragEvent)
    {
        feats.Add(characterSheetDragService.DropObject());
    }
}