@page "/wasm"

@using pf1e_vtt.Shared.Services
@using pf1e_vtt.Shared.Models
@inject IFeatsService featsService
@using Microsoft.Extensions.Logging;
@using pf1e_vtt.Client.Services;
@inject ILogger<Feats> logger;
@inject CharacterSheetDragService<Feat> characterSheetDragService;

<h1 class="text-7xl text-yellow-500">Feats</h1>

@if (feats != null) {
    @foreach (var feat in feats)
    {
        <div class="rounded bg-gray-100 shadow m-3 p-4 " draggable="true" @ondragstart="() => DragFeat(feat)">
            <div class="card-body">
                <h2 class="text-xl font-bold text-yellow-700">@feat.Name</h2>
                <p class="card-text"><span class="font-bold">Description </span><span class="text-gray-700">@feat.Description</span></p>
                @if (feat.Advantage != null) 
                {
                    <p><span class="font-bold">Avantage </span><span class="text-gray-700">@feat.Advantage</span></p> 
                }
                @if (feat.Normal != null)
                {
                    <p><span class="font-bold">Normal </span><span class="text-gray-700">@feat.Normal</span></p>
                }
            </div>
        </div>
    }
} else {
    <div class="text-center">
            Loading...
    </div>
}

@code {
    private Feat[] feats;

    protected override async Task OnInitializedAsync() 
    {
        if (feats == null || feats.Length == 0)
        {
            feats = await featsService.GetFeatsAsync(); 
        }
    }

    public void DragFeat(Feat feat)
    {
        characterSheetDragService.DragObject(feat);
    }
}            
