﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">PF1E VTT</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link p-4" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link p-4" href="character-sheet">
                <span class="oi oi-document" aria-hidden="true"></span> Character Sheet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link p-4" href="characters">
                <span class="oi oi-document" aria-hidden="true"></span> Characters
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
